.HomeBox{
    max-width: 70vw;
    min-height: 60vh;
    margin: auto;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: solid 0.5px  #0B3C49;
    border-radius: 25px;
    padding: 15px;
    background: #FDFFFC;
    box-shadow: 3px 3px 3px #0B3C49;
}

.routesTable{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.HeaderBox{
    /* display: flex;
    justify-content: space-around; */
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.tableHeader{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.25em;
}

.tableRow{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
}

.column{
    width: 25%
}
.columnSmall{
    width: 12.5%
}

.tableButton{
    padding: 7px;
    font-size: 0.75em;
    background: #00A7E1;
}

.tableButton:hover{
    background: #36D152
}

.addButton{
    float: right;
    margin-top: -70px;
    margin-right: 45px;
    font-size: 3em;
    padding: 0px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50%;
}

.addButton:hover{
    background: #36D152
}