@import url('https://fonts.googleapis.com/css?family=Lobster|Montserrat|Sriracha');

.App{
    font-family: 'Montserrat', sans-serif;
}

#backgroundImg{
    /* background-image: url('http://napidoktor.hu/content/uploads/2015/10/felh--s---g.jpg'); */
    /* background-image: url('https://www.walldevil.com/wallpapers/a48/3178-sun-sunshine-light-sky-cloud.jpg'); */
    background-image: url('http://images.all-free-download.com/images/graphiclarge/blue_sky_with_clouds_vector_backgrounds_525017.jpg');
    background-size: 150%;   
    position: fixed; 
    top: 80;
    left: 0;
    z-index: -1;
    min-width: 100vw;
    min-height: 100vh;
}

button{
    background: #ED254E;
    border-radius: 25px;
    width: auto;
    color: #FDFFFC;
    padding: 17px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    box-shadow: 1px 1px 1px #0B3C49;
}