.navbar{
    background: #00A7E1;
    height: 80px;
    width: 100vw;
    display: flex;    
    justify-content: space-between; 
    align-items: center;
    text-shadow: 1px 1px #0B3C49;
    box-shadow: 1px 1px 1px #0B3C49;
}

.hidenav{
    display: none;
}


h1{
    padding: 15px;
    font-family: 'Sriracha', cursive;
    color: #FDFFFC;
    font-size: 3em;
}

.right{
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #FDFFFC;

}

img{
    padding: 15px;
    max-height: 50px;
    border-radius: 35px;
}

.logout{
    font-size: 0.5em;
    padding: 8px;
    color: #00A7E1;
    background: #FDFFFC
}

.logout:hover{
    background: #ED254E;
    color: #FDFFFC
}